header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  z-index: 9;
  .container {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-links {
        display: flex;
        align-items: center;
        column-gap: 75px;
        .nav-link {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .nav-icons {
        display: flex;
        align-items: center;
        column-gap: 45px;
      }
    }
  }
}
